@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Manrope:wght@200..800&display=swap');

:root {

    --primary: #1E1E24;


    --primary-opacity: #1c1c22;

    --secondary: #E54B4B;
    --accent: #FFA987;
    --casual: #F7EBE8;


}


* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: var(--primary);
    color: var(--casual);
}


/* Chnaging windows handlebars */

/* WebKit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: var(--primary);
}

::-webkit-scrollbar-thumb {
    background-color: var(--casual);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}


body {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    display: flex;
    flex-direction: column;

}

main {
    flex: 1;
    min-height: 80vh;

}

.font-title {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.font-content {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: 'normal'
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--casual);
    transition: 0.5s;
}

a:hover {
    background-color: var(--secondary);

}

button {
    padding: 10px;
    color: var(--casual);
    background-color: var(--secondary);
    border: none;
}

button:hover {
    cursor: pointer;
}

/* Common card with image layout styling */

.card-with-image * {
    background-color: var(--primary-opacity);

}

.card-image img {
    width: 100%;

    /* Make the image adapt to the parent width */
    height: 300px;

    object-fit: cover;
    /* Maintain aspect ratio */
    display: block;
    /* Remove extra space */
    opacity: 0.4;

}

.card-info-heading {
    font-size: 16px;
    padding: 10px;
}

.card-info-description {
    font-size: 14px;
    opacity: 0.6;
}

.card-info-button {
    width: 100px;
    align-self: flex-start;
    margin-left: 10px;
    background-color: var(--secondary);
}



/* Get connected form */

.get-connected {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.get-connected * {
    background-color: var(--primary-opacity);
}

.get-connected-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;

}

.get-connected h3,
p {
    margin: 10px;
}

.get-connected button {
    background-color: var(--secondary);
}

.get-connected input,
textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid var(--casual);
}

.right-image {
    display: none;
}


@media (min-width: 1200px) {
    /* Get connected form */

    .get-connected {

        display: flex;
        justify-content: center;
        padding: 50px;
        margin: 20px;

    }

    .get-connected * {
        background-color: var(--primary-opacity)
    }

    .get-connected-form {
        padding: 50px;

    }


    .right-image {
        display: flex;

        /* padding: 50px; */

    }

    .get-connected input,
    textarea {
        width: 100%;
    }

    .right-image img {
        margin-top: 100px;
        height: 300px;
        animation: floatUpDown 3s ease-in-out infinite;
        opacity: 0.5;
    }



    @keyframes floatUpDown {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-20px);
        }
    }

}