<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link rel="stylesheet" type="text/css" href="../css/components/footer.css" />
</head>

<body>
    <footer class="main-header footer">
        <figure class="logo">
            <p class="font-title"><b>Hope For Tomorrow &copy 2024</b></p>
        </figure>
        <nav class="navigation font-content">

            <ul>
                <li> <a href="../pages/donation.html">Donation</a></li>
                <li> <a href="../pages/programs.html">Programs</a></li>
                <li> <a href="../pages/contact.html">Contact</a></li>
                <button href="../pages/donation.html">Donate</button>
            </ul>


            </ul>
        </nav>
        </header>
    </footer>

</body>

</html>