<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="../css/main.css"/>
   <link rel="stylesheet" type="text/css" href="../css/components/header.css"/>
</head>
<body>
    <header class="main-header">
        <figure class="logo">
            <p class="font-title"><b>Hope For Tomorrow</b></p>
        </figure>
        <nav class="navigation font-content">
            
            <ul>
                <li><a href="../pages/home.html"> Home</a></li>
                <li> <a href="../pages/donation.html">Donation</a></li>
                <li> <a href="../pages/programs.html">Programs</a></li>
                <li> <a href="../pages/blogs.html">Blogs</a></li>
                <li> <a href="../pages/contact.html">Contact</a></li>
                

            </ul>
        </nav>
    </header>
    
</body>
</html>