.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;

}

footer .logo {
    font-size: 20px;
    padding: 15px;
}

footer .navigation ul {
    display: flex;
    flex-direction: column;
}

footer .navigation ul li {
    padding: 10px;
}

footer .navigation ul li a {
    padding: 10px;
}

/*  Medium Devices (Tablets and Small Laptops) */
@media (min-width: 600px) {

    /* Styles for tablets and small laptops */
    footer .main-header {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }

    footer .navigation ul {
        display: flex;
        flex-direction: row;
    }
}