.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;

}

.logo {
    font-size: 20px;
    padding: 15px;
}

.navigation ul {
    display: flex;
    flex-direction: column;
}

.navigation ul li {
    padding: 10px;
}

.navigation ul li a {
    padding: 10px;
}


/*  Medium Devices (Tablets and Small Laptops) */
@media (min-width: 600px) {

    .main-header {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
    }
}