/* Hero Section */

.hero-section {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    height: 50vh;
    /* border: 1px solid white; */
    align-items: center;

}


.hero-title {

    padding: 10px;
    margin: 10px;
    background-color: transparent;
}

.hero-content {
    opacity: var(--opacity-text);
}

.header-content {
    padding: 10px;
    text-align: center;
    background-color: transparent;

}

.header-content * {

    background-color: transparent;
}

.hero-buttons {
    padding: 10px;
    background-color: transparent;

}




/* Working Areas Section */
.working-areas {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-opacity);
    margin-top: 80px;

}

.working-areas * {
    background-color: var(--primary-opacity);
}

.working-areas .left-layout {
    text-align: center;
}

.left-layout h4 {
    padding: 10px;
    margin-bottom: 10px;
}

.left-layout p {
    padding: 0 30px;
    opacity: var(--opacity-text);
}

.right-layout {
    padding: 10px 0;
    margin: 20px;
}

.right-layout .card {
    padding: 20px 130px;
    margin: 10px;
    background-color: var(--primary);

}

.right-layout .card h5 {
    background: none;
    color: var(--accent);

}



/* Projects Cards */

.projects .project-heading {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.projects .cards {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 50px;
    /* padding: 20px; */
    padding-right: auto;
    padding-left: auto;


}

.card-with-image {

    width: 400px;


}

.card-info {

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 15px;
    padding: 20px;
}

/* Image Gallery Css */

#light-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding: 30px 50px;

}

#light-gallery a {
    margin: 0;
    padding: 0;
}

.image-gallery img {
    opacity: var(--opacity-image);
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.image-gallery img:hover {
    opacity: 1;
}


.gallery-heading {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
}


/*  Medium Devices (Tablets and Small Laptops) */
@media (min-width: 600px) {

    @keyframes floatBackground {

        0%,
        100% {
            background-position: left bottom;
            /* Initial position */
        }

        50% {
            background-position: left calc(100% + 20px);
            /* Moves the background up */
        }
    }


    /* Hero Section Responsiveness */
    .hero-section {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 60vh;
        /* border: 1px solid white; */
        align-items: center;

        background:
            linear-gradient(0deg,
                var(--background-opacity),
                var(--background-opacity)),
            url('../../assets/images/heroBackground.png');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        animation: floatBackground 3s ease-in-out infinite;

    }

    /* Animation to make the background image float up and down */





    /* Working area responsiveness */

    .working-areas {
        /* border: 1px solid white; */
        display: flex;
        flex-direction: row;
        padding: 60px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .left-layout {
        padding: 50px;

    }

    /* Get Connected Form */
    .get-connected * {
        background-color: var(--primary-opacity);
    }

}

@media (min-width:1651px) {

    #light-gallery {
        padding: 20px 190px;
    }
}